@import "../../mixins.scss";
.movieCard {
    width: calc(50% - 5px);
    margin-bottom: 25px;
    cursor: pointer;
    flex-shrink: 0;
    @include md {
        width: calc(25% - 15px);
    }
    @include lg {
        width: calc(20% - 16px);
    }
    .posterBlock {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;
        .heartIcon {
            position: absolute;
            top: 10px;  /* Adjust as needed */
            right: 10px;  /* Adjust as needed */
            font-size: 30px;
            cursor: pointer;
            transition: all 0.3s ease;
            z-index: 10;  /* Ensures it's above other elements */
            background-color: white;
            background-size: auto;
            border-color: red;
            border-radius: 50%;
            padding: 5px;
            & :hover{
                transform: scale(1);
                color: red;
            }
        }
        
        .heartIcon.red {
            color: red;
        }
        .lazy-load-image-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .circleRating {
            width: 40px;
            height: 40px;
            position: relative;
            top: 30px;
            background-color: white;
            flex-shrink: 0;
            @include md {
                width: 50px;
                height: 50px;
            }
        }
        .genres {
            display: none;
            position: relative;
            @include md {
                display: flex;
                flex-flow: wrap;
                justify-content: flex-end;
            }
        }
    }
    .textBlock {
        display: flex;
        flex-direction: column;
        align-items: left; /* Centers text horizontally */
        text-align: left;
        margin-left: 5px;
        margin-top: 5px;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: white !important; /* Force white color */
            line-height: 1.4;
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .date {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8) !important; /* Make date more visible */
            margin-top: 3px;
        }
    }
}